/* .show-category .container{margin: 80px 95px; } */
.boxhome {
    width: 40%;
    min-width: 230px;
    padding: 10px 12px;
    border: 1px solid #666666;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
    margin: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.category-container .buttons h1 ,
.show-category h1{
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.heading {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.row .heading .boxhome h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
}

.boxhome:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    border: none;
    transform: scale(1.1);
}

/* .col-md-12{  
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
.boxhome img {
    width: 100%;
    border-radius: 10px;
    height: 50%;
}

.boxhome h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.boxhome .text {
    text-align: center;
    margin: 15px 0;
}

.row .heading .boxhome p {
    margin: 10px 0;
    overflow-wrap: anywhere;
}

/* .boxhome span{
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
} */
.boxhome button {
    color: white;
    width: 60%;
    padding: 5px;
    background: #0e0d0d;
    font-size: 19px;
    border-radius: 5%;

}

.boxhome button:hover {
    background-color: #e8e8e8;
    border: none;
    color: #0e0d0d;
    font-size: 19px;
}

@media screen and (max-width: 800px) {
    .show-category .container {
        margin: 80px;
    }

    .galleryboxhome {
        padding: 40px 40px;
    }

    .container .row .col-md-12 {
        justify-content: center;
    }

    .container .row {
        display: flex;
    }

    .boxhome {
        width: 80%;
        justify-content: space-around;
    }

    .boxhome h2 {
        margin: 0;
    }

    .boxhome:hover {
        transform: none;
    }

    .boxhome .text {
        margin: 0;
        text-align: center;
    }

    .boxhome button {
        width: 35%;
        margin-top: -50px;
    }

}

@media screen and (max-width: 477px) {
    .show-category .container {
        margin: 0px;
    }

    .heading h2 {
        font-size: 10px;
    }

    .heading p {
        display: none;
    }

    .boxhome button {
        width: 46%;
        margin-top: -20px;
    }

    .boxhome:hover {
        transform: none;
    }
}

.secTitle {
    margin: auto;
    text-align: center;
    font-family: fantasy;
}

.itemTitle {
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18;
}